@charset "UTF-8";

@import url('./_reset.css');

/* Rules CSS */
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}


.flex-direction-column {
  flex-direction: column;
}

.align-self-end {
  align-self: end;
}
.align-self-center {
  align-self: center;
}

/* end rules css */

/* Header */

.header {
  width: 100%;
  height:80px;
  padding: 16px 22px;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 5%);
  background: #fff;
}

/* end header */

.main {
  height: calc(100vh - 80px);
  overflow-y: auto;
}
.main-message {
  padding: 40px;
}

.dl {
  padding-bottom: 100px;
}

.dt, .dd {
  width: max-content;
  max-width: 360px;
  padding: 15px;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
  border-radius: 0px 5px 5px 5px;
  position: relative;
  background-color: #FFF1CD;
  word-break: break-all;
}

.dd + .dd::before {
  content: none;
}

.dd {
  border-radius: 5px 0px 5px 5px;
}

.dt::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 0px solid transparent;
  border-bottom: 17px solid transparent; 
  border-right:24px solid #FFDDDB; 
  left: -18px;
  top: 0;
}
.dt::before {
  border-right:24px solid #FFF1CD; 
}
.dt.message-private::before {
  border-right:24px solid #FFDDDB; 
}
.dt.message-login::before {
  content: none;
}

.dd::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 25px solid #4c6ef5;
  position: absolute;
  right: -18px;
  top: 0;
}

.strong {
  font-weight: 700;
}

.message-public {
  background-color: #FFF1CD;
}
.message-me {
  background-color: #4c6ef5;
  color: #fff;
}

.message-login{
  background-color: #f5f5f5;
}

.self-message::before {
  content: none;
  border-radius: 5px;
}

.message-private {
  background-color: #FFDDDB;
}

.date-message {
  position: absolute;
  width: max-content;
  top: 40%;
  right: -120px;
  color: #8A8D91;
  font-size: 13px;
}

.icon-login {
  margin: 0 6px 0 6px;
}

.me .date-message {
  left: -120px;
}

.main::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.main::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

.main::-webkit-scrollbar-track {
  background: #EDECE9;
}
.box-message {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  background: #fff;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 5%);

}

.box-area {
  height: inherit;
  position: relative;
}
.message-input::placeholder {
  font-family: 'Roboto', san-serif;
  color: #000;
}
.message-input {
  border: 0;
  outline: 0;
  width: calc(100% - 60px);
  height: inherit;
  font-size: 16px;
  font-family: 'Roboto', san-serif;
  color: #000;
  padding: 30px 16px;
  resize: none;
}

.message-input::-webkit-scrollbar {
  display: none;
}
.send {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

.section-main {
  width: max-content;
  margin: 72px auto;
}

.logo-uol {
  align-self: center;
}

.input-info-user {
  width: 261px;
  height: 54px;
  margin-top: 94px;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  outline: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.button {
  width: 110px;
  height: 45px;
  cursor: pointer;
  border-radius: 9px;
  color: #696969;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  border: 0;
  margin-top: 15px;
  align-self: center;
}

.message-warning {
  display: none;
  width: max-content;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  font-size: 14px;
  border-radius: 5px;
  background:#FFDDDB;
  margin: 40px auto;
  transition: display 0.3s ease-in-out;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.visible {
  display: block !important;
}

.message-options {
  display: none;
  width: 70vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}

.message-options p {
  padding: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 19px;
  font-size: 16px;
}

.message-contacts {
  padding: 0 17px;
}

.message-header {
  cursor: pointer;
  position: relative;
}
.message-header img {
 margin-right: 10px;
}
.list-of-contacts {
  height: 300px;
  overflow: auto;
  margin-top: 19px;
}
.list-of-contacts li {
  position: relative;
  margin-bottom:  18px;
  cursor: pointer;
}
.list-of-contacts li img {
  margin-right: 10px;
}
.check .logo-check {
  display: block;
}
.logo-check {
  display: none;
  position:absolute;
  right: 0;
}
.font-family-roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* Spinner Loading */

.load-area {
  margin-top: 80px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* End Load Spinner */

.not-loading {
  display: none;
}

@media (max-width: 415px) {
  .dt, .dd {
    max-width: 240px;
    margin-bottom:40px;
  }
  .date-message {
    top: auto;
    left: 0 !important;
    bottom: -25px;
  }
}